mixin sPublicTransactions()
	// start sPublicTransactions
	+b.SECTION.sPublicTransactions.section#sPublicTransactions&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sPublicTransactions
				
			.row
	// end sPublicTransactions