mixin sReadySource()
	// start sReadySource
	+b.SECTION.sReadySource.section#sReadySource&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sReadySource
				
			.row
	// end sReadySource