mixin sReadySource()
	// start sReadySource
	+b.SECTION.sReadySource.section#sReadySource&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Готовый источник дохода
				.h4 Запустите его уже в этом месяце!
			+e.row.row.align-items-center
				.col-lg-6
					p #[strong Хватит искать и перебирать курсы по заработку.] Просто возьмите стратегию спекуляций дешевыми акциями на&nbsp;ОТС и&nbsp;реализуйте новый источник денег для Вашей жизни!
				.col
					+e.team Войдите в&nbsp;команду Павла Крёза прямо сейчас и&nbsp;начните зарабатывать деньги на дешевых акциях рынка ОТС.
			.row
				mixin item(im,title,text)
					+e.item
						//- +e.imgWrap.picture-bg
						//- 	img.lazy.res-i(src="#" data-src=`img/torn-border-${im}.svg`, alt="")
						+pic(`torn-border-${im}.png`)(class="picture-bg")
						+e.check
							img(src="img/check.svg", alt="")
						+e.descr
							strong= title
							span= text
				.col-sm-6.col-lg-3
					+item('1','Здесь есть ВСЁ оптом,',' чтобы начать зарабатывать прямо сейчас')
				.col-sm-6.col-lg-3
					+item('2','От Вас не потребуется много времени,',' усилий или таланта – все просто, как дважды два')
				.col-sm-6.col-lg-3
					+item('3','Уже более 200 учеников',' Павла Крёза подтвердили работоспособность стратегии')
				.col-sm-6.col-lg-3
					+item('4','Мы уверены, на сегодняшний день это лучшее решение',' для получения дохода с небольшим депозитом')
			+e.text Войдите в&nbsp;команду Павла Крёза прямо сейчас и&nbsp;начните зарабатывать деньги на&nbsp;дешевых акциях рынка ОТС.
			+e.btn(href="#") Стать участником команды!
	// end sReadySource