// start .sSpecProgram
.sSpecProgram {
	background: linear-gradient(100.33deg, #3741A1 10.12%, #152085 74.53%);
	color: $white;


	--sPB: #{rem(40)};
	--sPT: #{rem(40)};

	--sTPB: #{rem(30)};
	@include media-breakpoint-up(lg){
		--sPT: #{rem(64px)};
		--sPB: #{rem(90)};

		--sTPB: #{rem(33px)};
	}

	.section-title{
		p:first-child{
			font-weight: bold;
			color: rgba($white, .5);
			margin-bottom: rem(11);
		}
		h2{
			margin-bottom: rem(20);
		}
		p{
			font-size: rem(20px);
		}
		p:last-child{
			margin-bottom: 0;
		}
	}

	//step
	&__step{
		&.first-step{
			margin-bottom: rem(78);

			.sSpecProgram__step-num{
				@include media-breakpoint-up(xl){
					padding-top: rem(10px);
					padding-right: rem(10px);
				}
			}
		}
		&.second-step{
			margin-bottom: rem(13);
			.sSpecProgram__step-head-txt{
				p{
					max-width: rem(664px);
				}
				p:last-child{
					margin-bottom: rem(30);
				}

				.shedule-txt{
					font-weight: bold;
					font-size: rem(20px);
					margin-bottom: rem(40);
				}
			}

		}
		&.third-step{
			margin-bottom: rem(148);

			.sSpecProgram__step-num{
				@include media-breakpoint-up(xl){
					padding-top: rem(24px);
					padding-right: rem(8px);
				}
			}

			.sSpecProgram__step-head-txt{
				h4{
					margin-bottom: rem(22);
				}
				p:last-child{
					margin-bottom: rem(35px);
				}
				.warning-txt{
					font-weight: bold;
					font-size: rem(20px);
					color: rgba($white, .4);
					margin-bottom: rem(22);
				}
			}
			//
		}
	}
	&__step-title{
		position: relative;
		text-align: center;
		z-index: 1;
		margin-bottom: rem(43);

		&:after{
			content: '';
			width: 100%;
			position: absolute;
			z-index: -1;
			left: 0;
			top: calc(50% - 4px);

			border-bottom: 1px solid $border-color;
		}

		span{
			background: $border-color;
			border-radius: rem(20px);

			display: inline-block;
			vertical-align: top;
			margin: 0 auto;
			padding: rem(10) rem(34);
			font-weight: bold;
			font-size: rem(40px);
			line-height: (50/40);
		}
	}
	&__step-container{
		@include media-breakpoint-up(xl){
			max-width: rem(960);
			margin: 0 auto;
		}
	}
	&__step-header{
		display: flex;
		flex-direction: column-reverse;

		@include media-breakpoint-up(lg){
			flex-direction: row;
			align-items: flex-start;
		}
	}
	&__step-head-txt{

		h4{
			line-height: (38/30);
			margin-bottom: rem(30);
			font-weight: bold;
		}
		p{
			font-size: rem(20px);
			margin-bottom: rem(30);
		}
		p:last-child{
			margin-bottom: rem(44);
		}
	}
	&__step-num{
		flex-shrink: 0;
		margin-left: rem(46);

		@include media-breakpoint-down(lg){
			padding: 0 0 rem(30) 0 !important;
			margin: 0;
		}

		display: none;
		@include media-breakpoint-up(md){
			display: block;
		}
	}


	//lower
	&__lower-baner{
		position: relative;
		@include media-breakpoint-up(base){
			right: -15px;
		}
		background: $white;

		@include media-breakpoint-up(xl){
			max-width: 929px;
			margin-left: auto;
			margin-right: auto;
		}

		@include media-breakpoint-up(xl){
			border-radius: rem(20px);
		}

		//
		margin-bottom: rem(30);

		padding: rem(20) rem(20) rem(20) rem(120);
		@include media-breakpoint-up(sm){
			padding: rem(30) rem(30) rem(30) rem(170);
		}
		@include media-breakpoint-up(lg){
			margin-bottom: rem(59);
			padding: rem(29px) rem(71px) rem(29px) rem(169px);
		}

		//
		p{
			font-weight: bold;
			margin-bottom: 0;
			color: $primary;

			font-size: rem(16px);
			@include media-breakpoint-up(sm){
				font-size: rem(20px);
			}
		}
	}
	&__lower-baner-img{
		position: absolute;

		width: 147px;
		height: 195px;
		left: -20px;
		bottom: -17px;
		@include media-breakpoint-up(sm){
			left: -58px;
			bottom: -33px;
			width: 293px;
			height: 390px;
		}

		img{
			max-width: 100%;
			max-height: 100%;
			width: auto;
			height: auto;
		}
	}
	&__btn{
		@extend .btn-red-frame;

		@include media-breakpoint-up(lg){
			min-width: 480px;
		}
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}

} // end.sSpecProgram

//part 1
.step-1-cont{


	&__item{
		border-radius: rem(20);
		background: $secondary;

		padding: rem(30);
		margin-bottom: rem(25);
		box-shadow: 0 rem(40) rem(60) rem(-50) rgba(0, 0, 0, 0.38);
		@include media-breakpoint-up(lg){
			padding: rem(30) rem(45) rem(28px) rem(32);
			margin-bottom: rem(16px);
			box-shadow: 0px 94px 63px -51px rgba(0, 0, 0, 0.38);
		}

		p{
			font-size: rem(20px);
			color: rgba($white, .7);
			margin-bottom: rem(29);
		}
		ul{
			list-style: none;
			margin: 0;
			padding: 0;

			li{
				padding-bottom: rem(15);
				&:before{
					content: '•';
					display: inline-block;
					vertical-align: top;
					padding-right: rem(24);
				}
				font-size: rem(20);
				font-weight: bold;
			}
		}
	}
	&__header{

		@include media-breakpoint-up(sm){
			display: flex;
			align-items: center;
		}
		margin-bottom: rem(21);
	}
	&__num-txt{
		display: inline-block;
		padding: rem(10) rem(34);
		background: $border-color;
		border-radius: rem(12px);

		font-weight: bold;
		font-size: rem(16px);
		line-height: (20/16);
		margin-right: rem(19);

		margin-bottom: rem(20);
		@include media-breakpoint-up(sm){
			margin-bottom: 0;
		}
	}
	&__name-txt{
		font-weight: bold;
		font-size: rem(20px);
	}
	//
	&__{}
	&__{}
	&__{}
}

.step-2-row{
	@include media-breakpoint-up(lg){
		@include roww(40px);
	}
	@include media-breakpoint-up(xl){
		@include roww(90px);
	}

	&__col{
		margin-bottom: 30px;
		@include media-breakpoint-up(lg){
			margin-bottom: 40px;
		}
		@include media-breakpoint-up(xl){
			margin-bottom: 75px;
		}
	}

	&__item{
		background: $secondary;
		border-radius: rem(20px);

		box-shadow: 0 rem(40) rem(60) rem(-50) rgba(0, 0, 0, 0.38);
		padding: rem(30);
		@include media-breakpoint-up(lg){
			box-shadow: 0px 94px 63px -51px rgba(0, 0, 0, 0.38);
			padding: rem(28) rem(33) rem(30) rem(33);
		}

	}
	&__less-num{
		font-weight: bold;
		font-size: 20px;

		color: rgba($white, .55);
		margin-bottom: rem(4);
	}
	&__date{
		font-weight: bold;
		font-size: rem(30px);
		line-height: (38/30);
	}
	&__day{
		font-size: rem(16px);
		line-height: 30/36;
		color: $border-color;
		margin-bottom: rem(23);
	}
	&__time-cont{
		display: flex;
		align-items: center;
	}
	&__clock-img{
		flex-shrink: 0;
		width: rem(34);
		height: rem(34);
		display: flex;
		align-items: center;
		justify-content: center;

		margin-right: rem(17);

		img{
			max-width: 100%;
			max-height: 100%;
			width: auto;
			height: auto;
		}
	}
	&__time-txt{
		font-weight: bold;
		font-size: rem(30px);
		line-height: (38/30);

		margin-right: rem(15);
	}
	&__place-time{
		font-size: rem(20px);
		color: rgba($white, .5);
	}
}

//.step-3-cont
.step-3-cont{

	&__item{
		border-radius: rem(20);
		background: $secondary;

		padding: rem(30);
		margin-bottom: rem(25);
		box-shadow: 0 rem(40) rem(60) rem(-50) rgba(0, 0, 0, 0.38);
		@include media-breakpoint-up(lg){
			padding: rem(40) rem(40) rem(24px) rem(32);
			margin-bottom: rem(30);
			box-shadow: 0px 94px 63px -51px rgba(0, 0, 0, 0.38);
		}

		p{
			font-weight: bold;
			font-size: rem(25px);
			line-height: (31/25);
			margin-bottom: rem(32);
		}

		//list
		ul{
			list-style: none;
			margin: 0;
			padding: 0;

			li{
				padding-bottom: rem(15);

				padding-left: rem(33);
				position: relative;
				&:before{
					content: '•';
					position: absolute;
					left: 0;
					top: 0;
				}

				font-size: rem(20);
			}
		}
	}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
}