mixin sSpecProgram()
	// start sSpecProgram
	+b.SECTION.sSpecProgram.section#sSpecProgram&attributes(attributes)
		.container
			+b.section-title.text-center
				p Программа обучения тренинга Инфо-ДВД и Павла Крёза
				h2 Спекуляции дешевыми акциями на ОТС
				p Готовый механизм заработка на ОТС состоит из трех частей.
			+e.step.first-step
				+e.step-title
					span Часть I
				+e.step-container
					+e.step-header
						+e.step-head-txt
							h4 Стратегия спекуляций дешевыми акциями на ОТС
							p
								| Материалы первой части&nbsp;Вы получите сразу, в&nbsp;течение одной минуты после оплаты участия, и&nbsp;сможете немедленно приступить к&nbsp;изучению нюансов стратегии.
								|
								br
								| Обучающие материалы по&nbsp;стратегии будут выданы Вам в&nbsp;закрытом разделе группы Инфоклуба в&nbsp;виде видеоуроков, pdf-инструкций и&nbsp;pdf-методичек.
							p Первая часть включает в&nbsp;себя всё необходимое теоретическое обучение для старта спекуляций на&nbsp;ОТС. После изучения первой части&nbsp;Вы уже сможете начать делать свои первые практические шаги на&nbsp;рынке.
							p Программа обучения первой части состоит из&nbsp;одиннадцати шагов&nbsp;&mdash; от&nbsp;первого знакомства для новичков до&nbsp;практики на&nbsp;реальном рынке и&nbsp;автоматизации процесса торговли.
						+e.step-num
							img.lazy(src="#" data-src="img/prog-step-1.svg" alt="")
					+b.step-1-cont
						+step1Item(1, 'Экскурс в фондовый рынок США')
							p На&nbsp;первом шаге&nbsp;Вы познакомитесь с&nbsp;понятием биржа, узнаете, как компания становится публичной и&nbsp;для чего, какие у&nbsp;компании появляются обязательства перед акционерами, какие существуют регуляторы.
							ul
								li Как устроен фондовый рынок?
								li Что такое фондовая биржа?
								li Для чего и как компания становится публичной?
								li Обязательства компании перед акционерами.
								li Регуляторы фондового рынка.
						+step1Item(2, 'Брокерский счет')
							p На&nbsp;втором шаге&nbsp;Вы откроете и&nbsp;пополните счет у&nbsp;одного из&nbsp;ведущих мировых брокеров (Interactive Brokers).
							ul
								li Разбор брокера, тарифы и&nbsp;особенности.
								li Подробная процедура открытия счёта.
								li Процедура перевода средств с&nbsp;банковского счёта на&nbsp;брокерский счет в&nbsp;Interactive Brokers.
								li Уведомление в&nbsp;ФНС об&nbsp;открытии счета у&nbsp;зарубежного брокера для резидентов&nbsp;РФ.
						+step1Item(3, 'Знакомство с OTC markets')
							p На&nbsp;этом занятии&nbsp;Вы познакомитесь с&nbsp;внебиржевым рынком ОТС markets и&nbsp;его тремя категориями. Вы&nbsp;узнаете, почему внебиржевого рынка не&nbsp;стоит бояться, и&nbsp;как происходят инвестиции в&nbsp;реальные компании малой капитализации.
							ul
								li Что такое внебиржевой рынок OTC markets?
								li 3&nbsp;категории OTC markets.
								li Подробная экскурсия по&nbsp;сайту otcmarkets.com.
								li Технология инвестирования в&nbsp;реальные компании малой капитализации.
								li Категории OTCQX, OTCQB, OTC Pink&nbsp;&mdash; основные особенности и&nbsp;нюансы.
						+step1Item(4, 'Основные финансовые отчёты компании.')
							p Как, не&nbsp;погружаясь в&nbsp;дебри бухгалтерии, инвестору оценить реальное финансовое положение у&nbsp;компании? На&nbsp;этом шаге&nbsp;Вы познакомитесь с&nbsp;двумя основными отчетами организации, которые будут необходимы для проведения экспресс-анализа компаний в&nbsp;рамках стратегии торговли на&nbsp;OTC. Вы&nbsp;удивитесь, насколько это быстро и&nbsp;просто, когда знаешь, куда конкретно смотреть, и&nbsp;что эта цифра означает
							ul
								li Как инвестору оценить реальное финансовое положение компании?
								li Какие финансовые отчёты компании помогают провести её&nbsp;экспресс анализ в&nbsp;рамках стратегии торговли на&nbsp;OTC?
								li Знакомство с&nbsp;бухгалтерским балансом компании.
								li Знакомство с&nbsp;отчетом о&nbsp;прибылях и&nbsp;убытках.
						+step1Item(5, 'Принцип управления деньгами при торговле на OTC.')
							p Сделки на&nbsp;рынке ОТС имеют свои особенности. На&nbsp;данном занятии&nbsp;Вы получите стратегию с&nbsp;нюансами, как правильно покупать компании рынка OTC и&nbsp;как правильно фиксировать прибыль, чтобы получить защищенный рост Вашего депозита.
							ul
								li Как правильно покупать компании рынка OTC? Набор позиций.
								li Перевод позиции в б/у.
								li Как правильно фиксировать прибыль? Схема фиксации отложенными ордерами.
						+step1Item(6, 'Поиск компаний.')
							p
								| Переходим к&nbsp;первичному отбору компаний и&nbsp;составлению списка акций для дальнейшей работы. На&nbsp;данном занятии&nbsp;Вы научитесь пользоваться поисковиком акций, получите параметры поиска для выставления и&nbsp;чеклист&nbsp;&mdash; на&nbsp;что обращать внимание при первичном отборе акций.
								|
								br
								| А&nbsp;супербонусом в&nbsp;этом уроке для Вас будет очень полезный и&nbsp;доходный лайфхак, найденный командой на&nbsp;практике, который позволит Вам сократить список из&nbsp;1000 потенциальных акций до&nbsp;двадцати сверх-потенциальных.
							ul
								li Первичный отбор компаний.
								li Знакомство с&nbsp;поисковиком акций.
								li Как правильно выставлять параметры поиска.
								li Чек-лист особенностей при первичном отборе акций.
								li Составление списка акций для дальнейшей работы.
								li Супербонус. Лайфхак по&nbsp;отбору компаний, позволяющий существенно сократить список потенциальных акций.
						+step1Item(7, 'Экспресс-анализ компаний')
							p
								| Этот шаг самый интересный. Теперь из&nbsp;первичного списка отфильтрованных компаний нужно выделить&nbsp;те, у&nbsp;которых имеется реальный бизнес, развивающийся и&nbsp;показывающий драйверы для роста цены акции. Весь этот процесс анализа мы&nbsp;также упаковали в&nbsp;пошаговый алгоритм, значительно ускоряющий Вашу работу.
								|
								br
								| На&nbsp;выходе из&nbsp;этого шага мы&nbsp;уже получаем список компаний для приобретения в&nbsp;портфель.
							ul
								li Пошаговый алгоритм экспресс-анализа компаний для фильтрации списка.
								li Главные критерии для анализа компаний: наличие реального бизнеса и&nbsp;его развитие; драйверы для роста цены акции.
								li Анализ деятельности выбранных компаний.
								li Анализ финансовых отчётов.
								li Составление итогового списка компаний для мониторинга и&nbsp;поиска точки входа.
						+step1Item(8, 'Технический анализ графика.')
							p После того, как&nbsp;Вы решили взять акции компании в&nbsp;свой портфель, надо позаботиться и&nbsp;о&nbsp;том, чтобы точка входа была тоже удачной. Иногда на&nbsp;ОТС правильный выбор точки входа становится решающим. В&nbsp;этом Вам помогут базовые основы технического анализа. На&nbsp;занятии&nbsp;Вы получите краткую информацию по&nbsp;основным моментам технического анализа графика компании.
							ul
								li Базовые основы технического анализа графика компании.
								li Обзор основных моментов технического анализа графика компании. Тренд, объемы, паттерны.
								li Алгоритм выбора эффективной точки входа.
						+step1Item(9, 'Итоговая сборка стратегии')
							p На&nbsp;этом шаге мы&nbsp;соберем все полученные знания воедино и&nbsp;нарисуем законченную картину стратегии спекуляций дешевыми акциями на&nbsp;ОТС.
							ul
								li Общая картина проработанной стратегии портфельных спекуляций с&nbsp;дешевыми акциями на&nbsp;ОТС.
								li Подведение итогов. Индивидуальная оценка готовности к&nbsp;самостоятельному проведению спекуляций по&nbsp;подготовленным спискам акций
						+step1Item(10, 'Практика работы с терминалом.')
							p
								| Теперь, имея на&nbsp;руках уже проработанный список акций, Вы&nbsp;можете приступить к&nbsp;реализации Вашего портфеля на&nbsp;реальном рынке.
								|
								br
								| На&nbsp;этом шаге мы&nbsp;подробно, до&nbsp;мелочей, разберем торговый терминал TWS. Вы&nbsp;познакомитесь с&nbsp;процессом покупки и&nbsp;продажи акций, выставлений ордеров и&nbsp;прочими необходимыми на&nbsp;практике нюансами.
							ul
								li Портал клиентов и&nbsp;добавление торгового инструмента.
								li Установка терминала TWS.
								li Настройка и&nbsp;особенности торговой платформы.
								li Выставление ордеров. Открытие и&nbsp;закрытие позиции.
								li Дополнительные нюансы платформы, которые могут облегчить Вашу работу.
						+step1Item(11, 'Автоматизация заработка')
							p Заключительный нюанс, который еще сильнее упростит Ваш заработок на&nbsp;ОТС. В&nbsp;финальном шаге&nbsp;Вы научитесь создавать списки мониторинга акций и&nbsp;настраивать уведомления, которые будут приходить Вам на&nbsp;телефон, email или компьютер.
							p Вам больше не&nbsp;надо следить за&nbsp;рынком в&nbsp;поисках точки входа. Когда потребуется Ваше внимание, сработает сигнал.
							ul
								li Создание списка мониторинга.
								li Создание сигналов, настройка уведомлений.
								li Работа с&nbsp;отложенными ордерами.
			+e.step.second-step
				+e.step-title
					span Часть 2
				+e.step-container
					+e.step-header
						+e.step-head-txt
							h4 Онлайн отработка стратегии на реальном рынке
							p Во&nbsp;второй части тренинга Вас ждут 6&nbsp;онлайн-занятий, на&nbsp;которых мы&nbsp;заново пройдемся по&nbsp;всем урокам теоретического материала и&nbsp;на&nbsp;текущем рынке покажем, как применять каждый шаг стратегии в&nbsp;практической работе.
							p В&nbsp;прямом эфире, прямо во&nbsp;время торговой сессии на&nbsp;ОТС, мы&nbsp;закрепим полученные Вами знания практикой, ответим на&nbsp;все вопросы, которые у&nbsp;Вас возникли во&nbsp;время изучения стратегии, и&nbsp;поможем Вам начать делать первые практические шаги на&nbsp;рынке ОТС
							.shedule-txt Расписание онлайн-занятий второй части:
						+e.step-num
							img.lazy(src="#" data-src="img/prog-step-2.svg" alt="")
					+b.step-2-row.row
						+step2Item(1, 14 , 'Понедельник')
						+step2Item(2, 16 , 'Среда')
						+step2Item(3, 18 , 'Пятница')
						+step2Item(4, 21 , 'Понедельник')
						+step2Item(5, 23 , 'Среда')
						+step2Item(6, 25 , 'Пятница')
			+e.step.third-step
				+e.step-title
					span Часть 3
				+e.step-container
					+e.step-header
						+e.step-head-txt
							h4 Долгосрочная командная практика спекуляций на&nbsp;ОТС в&nbsp;мастер-группе
							.warning-txt Для тарифов, включающих мастер-группу
							p Теперь, после прохождения первых двух частей, Вы&nbsp;на&nbsp;100% готовы к&nbsp;спекуляциям на&nbsp;ОТС как в&nbsp;качестве самостоятельной практики, так и&nbsp;в&nbsp;качестве командного игрока.
							p Сразу после окончания онлайн-занятий второй части&nbsp;Вы получите доступ в&nbsp;мастер-группу Павла Крёза, если Ваш тариф участия ее&nbsp;включает.
						+e.step-num
							img.lazy(src="#" data-src="img/prog-step-3.svg" alt="")
					+b.step-3-cont
						+e.item
							p В мастер-группе Павла Крёза Вы получите сразу, на входе:
							ul
								li
									b Готовый список мониторинга.
									|
									| Командой участников мастер-группы уже проработаны свыше 4000 компаний на&nbsp;ОТС. Те&nbsp;из&nbsp;них, за&nbsp;которыми стоит наблюдать и&nbsp;искать точки входа, Вы&nbsp;получите сразу в&nbsp;мастер-группе.
								li
									b Список акций в&nbsp;портфеле участников.
									|
									| Бегло просмотрев этот список, Вы&nbsp;сможете определить компании, акции которых можно покупать сразу. Алгоритм принятия решения&nbsp;Вы тоже получите.
									|
								li
									b Доступ в&nbsp;Телеграм-чат участников
									|
									| для обсуждения сделок и&nbsp;поддержки.
								li
									b Дополнительные обучающие материалы.
									|
									| В&nbsp;мастер-группе мы&nbsp;собираем архив видеоуроков и&nbsp;записей занятий, которые помогут Вам не&nbsp;только на&nbsp;рынке ОТС, но&nbsp;и&nbsp;на&nbsp;всем Вашем инвестиционном пути. В&nbsp;их&nbsp;число входит запись тренинга Павла Крёза &laquo;Как выжить и&nbsp;заработать в&nbsp;кризис&raquo;, посвященного защитным инструментам, которые дадут прибыль во&nbsp;время падения рынков.
						+e.item
							p За 3 месяца, включенные в тариф, Вы получите в мастер-группе:
							ul
								li
									b максимально легкое и&nbsp;быстрое
									|
									| освоение практики работы на&nbsp;ОТС;
								li
									b регулярные онлайн-занятия
									|
									| 1&nbsp;раз в&nbsp;2&nbsp;недели;
								li
									b командную практику
									|
									| поиска и&nbsp;анализа компаний рынка ОТС;
								li
									b возможность пользоваться
									|
									| готовыми наработками мастер-группы и&nbsp;просто повторять сделки участников;
								li
									b повторение и&nbsp;разъяснение
									|
									| материала, который ранее не&nbsp;был усвоен;
								li
									b весь процесс
									|
									| практической работы в&nbsp;режиме реального времени.
								li
									b поддержку,
									|
									| ответы на&nbsp;Ваши вопросы и&nbsp;обратную связь от&nbsp;автора и&nbsp;участников команды;
								li
									b модуль,
									|
									| в&nbsp;котором в&nbsp;реальном времени демонстрируются входы и&nbsp;выходы из&nbsp;сделок Павла Крёза.
						+e.item
							p И в долгосрочном горизонте мастер-группа может Вам дать:
							ul
								li
									b Длительную постоянную поддержку
									|
									| на&nbsp;всем инвестиционном пути, в&nbsp;том числе и&nbsp;на&nbsp;классических фондовых биржах.
								li
									b Сообщество единомышленников,
									|
									| имеющими общие с&nbsp;Вами интересы.
								li
									b Эффект синергии от&nbsp;командной работы
									| , когда вклад каждого участника дает прибыль всей команде.
								li
									b Возможность сколь угодно долго продлевать участие
									|
									| в&nbsp;мастер-группе по&nbsp;льготной стоимости, которая окупается в&nbsp;первой&nbsp;же сделке на&nbsp;ОТС.
								li
									b Динамическое обновление стратегии работы на&nbsp;рынке ОТС,
									|
									| корректировка фильтров и&nbsp;добавление новых нюансов, полученных из&nbsp;практики.
								li
									b Готовые стратегические решения
									|
									| для долгосрочного роста Вашего капитала.
		+e.lower-baner
			+pic('sMoves-man.png')(class="sSpecProgram__lower-baner-img")
			p Мастер-группа Павла Крёза в комплекте с тренингом «Спекуляции дешевыми акциями на ОТС» - это готовое решение для создания нового источника дохода, проверенное и подтвержденное более 200 учениками.
		.text-center
			+e.A.btn.scroll-link(href=`${allBtnsLink}`) Хочу войти в команду Павла Крёза!

	// end sSpecProgram

mixin step2Item(num, date, dayTxt)
	+e.col.col-sm-6.col-lg-4
		+e.item
			+e.less-num=`${num} онлайн-занятие.`
			+e.date=`${date} сентября`
			+e.day=dayTxt
			+e.time-cont
				+e.clock-img
					img.lazy(src="#" data-src="img/clock-i.svg" alt="")
				+e.time-txt 19-00
				+e.place-time МСК


mixin step1Item(num, nameTxt)
	+e.item
		+e.header
			+e.num-txt=`Шаг ${num}`
			+e.name-txt=nameTxt
		block
