mixin sSubtleties()
	// start sSubtleties
	+b.SECTION.sSubtleties.section#sSubtleties&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sSubtleties
				
			.row
	// end sSubtleties