mixin sForAdults()
	// start sForAdults
	+b.SECTION.sForAdults.section#sForAdults&attributes(attributes)
		+pic('Adult-left-bg.png')(class='sForAdults__left-bg d-none d-lg-block')
		+pic('Adult-right-bg.png')(class='sForAdults__right-bg')
		+e.container.container
			+b.section-title.text-center
				h2 OTC: только для взрослых
				p Важно понимать, что ОТС — очень высокорискованный рынок.
			+e.warning-baner
				+e.warning-img
					img.lazy(src="#" data-src="img/warning-img.svg" alt="")
				+e.warning-txt
					p Совершенно очевидно, что больших доходностей без большого риска НЕ&nbsp;БЫВАЕТ.&nbsp;И это&nbsp;&mdash; факт! Особенно, когда торгуются акции стоимостью менее одной десятой доли цента. Такие акции могут в&nbsp;миг упасть в&nbsp;стоимости до&nbsp;критически низкой цены.
			+e.H4.mid-headline Как мы работаем с этим риском?
			+e.risk-items
				ul
					li
						p
							b Во-первых,
							|
							| общая сумма портфеля на&nbsp;ОТС должна быть лишь частью Вашего капитала.&nbsp;Ни в&nbsp;коем случае здесь не&nbsp;должны быть все Ваши деньги. Вы&nbsp;должны понимать, что это высокорискованные спекуляции и&nbsp;существует риск эту сумму потерять полностью.
					li
						p
							b Во-вторых,
							|
							| когда мы&nbsp;покупаем акции определенной компании в&nbsp;портфель, мы&nbsp;принимаем стопроцентный риск потери денег, которые мы&nbsp;вкладываем в&nbsp;эти акции.
							br.d-none.d-lg-block
							|
							| Проще говоря. Вам не&nbsp;жалко потерять 30$? Значит на&nbsp;эту сумму&nbsp;Вы и&nbsp;приобретаете акции. Благо, стоимость акций на&nbsp;рынке ОТС позволяет выбирать практически любой размер риска. Даже если у&nbsp;Вас депозит всего 200$, и&nbsp;Вы не&nbsp;готовы рисковать в&nbsp;одной компании более, чем пятнадцатью долларами, посчитайте, сколько акций&nbsp;Вы сможете купить на&nbsp;15&nbsp;долларов по&nbsp;цене 0,001$.&nbsp;15000&nbsp;акций. Мы&nbsp;покупаем акции одной компании ровно на&nbsp;ту&nbsp;сумму, которой мы&nbsp;готовы рисковать&nbsp;&mdash; это может быть&nbsp;5% от&nbsp;Вашего депозита или&nbsp;1%, размер риска&nbsp;Вы выберете сами.
			+e.convince-txt В таких условиях Вы можете очень грамотно управлять Вашими рисками.
		block
	// end sForAdults