mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section.fixed-hook-js#headerBlock&attributes(attributes)
		+e.right-bg
			img.lazy(src="#" data-src="img/@2x/header-bg-right.png" alt="")
		+e.left-bg.d-none.d-xxl-block
			img.lazy(src="#" data-src="img/@2x/header-bg-left.png" alt="")
		+e.container.container
			+e.row.row
				.col-lg-7.col-xl-6
					+e.txt-content
						p Простой и&nbsp;доступный источник дохода.
						h1 Спекуляции дешевыми акциями на&nbsp;ОТС
						ul
							li Вход от&nbsp;100$
							li Занимает 25&nbsp;минут в&nbsp;день
							li Сделки приносят кратное умножение вложенных средств
					+e.A.get-started-btn.scroll-link(href=`${allBtnsLink}`) Приступить немедленно!
		+e.man-img.d-none.d-lg-block
			img(src="img/@2x/man.png" alt="")
	// end headerBlock