mixin sAdvanteges()
	// start sAdvanteges
	+b.SECTION.sAdvanteges.section#sAdvanteges&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sAdvanteges
				
			.row
	// end sAdvanteges