mixin sMillionaire()
	// start sMillionaire
	+b.SECTION.sMillionaire.section#sMillionaire&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Станете ли Вы миллионером?
				p “…если Вы такие умные, почему до сих пор не в списке Forbes?”
			+e.row.row
				+e.col.col-lg-6
					+e.txt-conent
						p Да, на&nbsp;рынке ОТС можно быстро разогнать маленький депозит до&nbsp;нескольких тысяч долларов.
						p Но&nbsp;разгонять депозит до&nbsp;бесконечности, к&nbsp;сожалению, не&nbsp;получится. В&nbsp;категории сверхдешевых акций ограничена ликвидность и&nbsp;собрать позицию по&nbsp;одной компании свыше 200 долларов у&nbsp;Вас уже не&nbsp;получится. Точнее, получится, но&nbsp;потом могут быть проблемы с&nbsp;выходом из&nbsp;сделки.
				+e.col.col-lg-6
					+e.color-box.blue-box
						p Спекуляции дешевыми акциями на&nbsp;ОТС могут быть для Вас отличным дополнительным источником дохода, может быть даже и&nbsp;основным. Но&nbsp;этот источник будет ограничен&nbsp;по сумме дохода.
						+e.box-bg.money-img
							+pic('milioner-money.png')
				+e.col.col-lg-6
					+e.txt-conent
						p Ну&nbsp;и&nbsp;ничего страшного. Это ведь может быть просто один из&nbsp;источников дохода, которые у&nbsp;Вас есть!
						p А&nbsp;следующим шагом может быть создание классического инвестиционного портфеля на&nbsp;крупных фондовых биржах. Портфельные инвестиции с&nbsp;низким риском&nbsp;&mdash; долгосрочное накопление капитала и&nbsp;пассивного дохода.
				+e.col.col-lg-6
					+e.color-box.white-box
						p Вы&nbsp;сможете у&nbsp;того&nbsp;же самого брокера просто начать формировать безопасный инвестиционный портфель и&nbsp;вкладывать в&nbsp;него часть прибыли, полученной на&nbsp;рынке ОТС.
						+e.box-bg.man-img
							+pic('milioner-man-2.png')
			+e.lower-txt Таким образом, следующий шаг Вы сможете выбрать сами:
			+e.btn-row.row
				.col-md-6
					+e.A.btn.scroll-link(href=`${allBtnsLink}`)
						|Создать себе дополнительный
						br
						|источник дохода
				.col-md-6
					+e.A.btn.scroll-link(href=`${allBtnsLink}`)
						| Начать формировать долгосрочный
						br
						| инвестиционный капитал
	// end sMillionaire