mixin sMillionaire()
	// start sMillionaire
	+b.SECTION.sMillionaire.section#sMillionaire&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sMillionaire
				
			.row
	// end sMillionaire