mixin sMillionaire()
	// start sMillionaire
	+b.SECTION.sMillionaire.section#sMillionaire&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Станете ли Вы миллионером?
				p “…если Вы такие умные, почему до сих пор не в списке Forbes?”
			+e.row.row

	// end sMillionaire