mixin sWhatGet()
	// start sWhatGet
	+b.SECTION.sWhatGet.section#sWhatGet&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Что Вы получите после прохождения тренинга?
			mixin item(img,title,text)
				+e.item
					.row
						+e.col.col-auto
							+pic(`whatGet-${img}.png`)
						.col
							+e.title.h5= title
							+e.text= text
			+item('1','Полный пошаговый алгоритм стратегии спекуляций дешевыми акциями на ОТС','Это позволит Вам сразу после завершения основной программы обучения начать собирать портфель с потенциально прибыльными акциями. ')
			+item('2','Чёткий план действий','У Вас будет конкретный формализованный план действий, чек-лист с главными параметрами стратегии и фильтры для отбора акций. ')
			+item('3','Навыки психологической устойчивости и работы в группе','Совместная командная работа по поиску предприятий, их отслеживание и корректировка параметров фильтров помогут Вам избежать стрессов от возможного финансового риска. ')
			+item('4','Возможность старта без начальных знаний','Стратегия торговли не требует от Вас никаких экономических знаний и, самое главное, длительного времени для изучения. К концу программы Вы будете полностью готовы к практике, а на мастер-группе мы вместе будем заниматься отбором компаний и составлением портфеля. ')
			+item('5','Выбор удобного времени работы и возможность совмещения с основной занятостью','Вам не надо постоянно быть у монитора. Вам не надо постоянно смотреть на графики. Вы работаете тогда, когда Вы выделяете на это время. Вы отбираете компании для портфеля по полученному алгоритму, а затем в любое время работы биржи покупаете отобранные акции в свой портфель. ')
			+item('6','Автоматизация работы','Вы научитесь работать с сигналами и отложенными ордерами, благодаря которым Вам вообще не нужно будет следить за акциями ОТС. Когда появится хорошая точка входа Вы получите уведомление. А когда акция в портфеле выстрелит в цене, прибыль зафиксируется автоматически.')
	// end sWhatGet