mixin sFAQ()
	// start sFAQ
	+b.SECTION.sFAQ#sFAQ&attributes(attributes)
		//- +e.section-bg
		//- 	img.lazy(src='#' data-src='img/3in1-bg.svg' alt="")
		.container
			+b.section-title
				h2 	Ответы на часто задаваемые вопросы
			+e.blocks-box
				+blockFAQ('Что нужно для начала обучения? ')
					p Для участия в&nbsp;обучении достаточно иметь компьютер с&nbsp;доступом в&nbsp;Интернет. Обучение будет проходить через браузер (лучше всего подойдет Google Chrome), никаких дополнительных программ заранее устанавливать не&nbsp;требуется.
				+blockFAQ('Какой уровень подготовки должен быть у слушателя?')
					p Подготовка в&nbsp;сфере трейдинга не&nbsp;нужна, так как тренинг рассчитан на&nbsp;обучение с&nbsp;нуля. От&nbsp;Вас требуется лишь некоторый уровень общей компьютерной грамотности: умение пользоваться браузером, электронной почтой, просматривать видео в&nbsp;YouTube, просматривать сайты и&nbsp;пользоваться онлайн-переводчиком, скачивать и&nbsp;устанавливать программы.
				+blockFAQ('Какой минимальный депозит необходим для обучения?')
					p Начать работать на&nbsp;рынке ОТС можно с&nbsp;любой суммы, как таковых минимальных ограничений нет. Рекомендуемый депозит для диверсифицированного портфеля составляет от&nbsp;400 до&nbsp;1000&nbsp;долларов. Вы&nbsp;также можете начать спекуляции с&nbsp;50$ первоначального депозита, при условии дальнейшего ежемесячного пополнения депозита на&nbsp;50$ до&nbsp;тех пор, пока сумма не&nbsp;вырастет до&nbsp;рекомендуемой.
				+blockFAQ('Сколько времени мне необходимо будет тратить на работу по Стратегии?')
					p Работа по&nbsp;стратегии занимает не&nbsp;более 3-х часов в&nbsp;неделю в&nbsp;совокупности. Благодаря сигналам в&nbsp;терминале и&nbsp;отложенным ордерам, Вам не&nbsp;нужно тратить время на&nbsp;отслеживание графиков акций. А&nbsp;благодаря командной работе в&nbsp;мастер-группе, Вы&nbsp;можете пользоваться готовыми наработками команды и&nbsp;зарабатывать, просто повторяя действия коллег и&nbsp;пользуясь эффектом командной синергии.
				+blockFAQ('Какие дополнительные расходы потребуются во время обучения?')
					p Никаких. Открывать&nbsp;ли реальный счёт и&nbsp;вносить&nbsp;ли на&nbsp;него деньги&nbsp;&mdash; Вы&nbsp;решаете сами. Это не&nbsp;обязательное условие для прохождения обучения. Покупать платные программы для анализа и&nbsp;т.&nbsp;п.&nbsp;не&nbsp;требуется. Всё, что нужно, мы&nbsp;дадим Вам во&nbsp;время обучения бесплатно.
	// end sFAQ

mixin blockFAQ(headlineTxt, displayClass='')
	+e.block
		+e.block-header.block-header-js(class=displayClass)
			+e.headline=headlineTxt
			+e.open-btn
		+e.block-content.block-content-js(class=displayClass)
			block