mixin sSpeculations()
	// start sSpeculations
	+b.SECTION.sSpeculations.section#sSpeculations&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sSpeculations
				
			.row
	// end sSpeculations