// start .sHowWork
.sHowWork {

	--sPB: #{rem(40)};
	--sPT: #{rem(40)};

	--sTPB: #{rem(40)};
	@include media-breakpoint-up(lg){
		--sPT: #{rem(79px)};
		--sPB: #{rem(100)};

		--sTPB: #{rem(54)};
	}

	.section-title{
		h2{
			color: $primary;
			line-height: (50/40);
			margin-bottom: rem(21);
		}

		p{
			font-size: rem(20);
		}
	}
	&__row{
		@include roww(40px);

		padding-bottom: rem(35px);
		@include media-breakpoint-up(lg){
			padding-bottom: rem(108px);
		}
	}
	//
	&__hundred-precent{
		@include media-breakpoint-up(lg){
			min-height: 100%;
		}

		color: $white;
		position: relative;
		background: linear-gradient(126.35deg, #3842A2 4.86%, #212B8F 92.12%);
		border-radius: rem(20px);

		padding: rem(30px) rem(30) rem(60) rem(30);
		box-shadow: 0px rem(45px) rem(60px) rem(-55px) rgba(0, 0, 0, 0.38);
		margin-bottom: rem(35);
		@include media-breakpoint-up(lg){
			padding: rem(34px) rem(60) rem(60) rem(30);
			box-shadow: 0px 94px 63px -51px rgba(0, 0, 0, 0.38);
			margin-bottom: 0;
		}
		@include media-breakpoint-up(xl){
			padding: rem(34px) rem(60) rem(60) rem(60);
		}
	}
	&__hundr-img{
		position: absolute;
		z-index: 0;

		height: 100%;
		@include media-breakpoint-up(lg){
			height: auto;
		}

		right: rem(10px);
		top: rem(-30px);
		@include media-breakpoint-up(xl){
			right: rem(38px);
			top: rem(-30px);
		}

		img{
			width: auto;

			height: 100%;
			@include media-breakpoint-up(lg){
				height: auto;
			}
		}
	}
	&__hund-top-txt{
		position: relative;
		z-index: 1;
		font-weight: bold;

		margin-bottom: rem(10px);

		font-size: rem(70);
		@include media-breakpoint-up(sm){
			font-size: rem(101px);
		}
	}
	&__hund-txt{
		position: relative;
		z-index: 1;

		font-weight: bold;
		line-height: (38/30);

		font-size: rem(24px);
		@include media-breakpoint-up(sm){
			font-size: rem(30px);
		}
	}

	//txt-col
	&__txt-col{
		@include media-breakpoint-up(xl){
			max-width: rem(582px);
		}
	}
	&__txt-cont{
		p:first-child{
			font-weight: bold;
			margin-bottom: rem(27px);
		}
		p{
			font-size: rem(20px);
		}
		p:last-child{
			margin-bottom: 0;
		}

		padding-bottom: rem(34);
		border-bottom: 1px solid rgba($primary, .12);
		margin-bottom: rem(28px);
	}
	&__question{
		display: flex;
		//align-items: center;
	}
	&__qustion-img{
		@include media-breakpoint-up(xxl){
			margin-left: 6px;
			margin-top: 6px;
		}

		flex-shrink: 0;
		width: rem(108);
		height: rem(108);

		display: flex;
		img{
			max-width: 100%;
			max-height: 100%;
			width: auto;
			height: auto;
			margin: auto;
		}

		margin-right: rem(33);
	}
	&__question-txt{
		span{
			display: block;
			font-weight: bold;
			font-size: rem(16px);
			line-height: (20/16);
			margin-bottom: rem(14);
			color: rgba($body-color, .8);
		}
		p{
			font-size: rem(16px);
			color: rgba($body-color, .7);
		}
		p:last-child{
			margin-bottom: 0;
		}

	}

	//btn
	&__btn{
		@extend .btn-red-frame;

	}
	&__{}
	&__{}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}

} // end.sHowWork