mixin sQuestions()
	// start sQuestions
	+b.SECTION.sQuestions#sQuestions&attributes(attributes)
		+e.section-bg
			img.lazy(src="#" data-src="img/@2x/sQuestions-bg.png" alt="")
		+e.container.container
			+b.section-title
				h2 Есть вопросы и нужна консультация?
				p Мы готовы перезвонить Вам и ответить на любые вопросы:
			+e.row.row
				+questionItem(1)
					| по программе
					br
					| тренинга
				+questionItem(2)
					| по техническим
					|
					br
					| моментам
				+questionItem(3)
					| по вопросам оплаты
					br
					| и участия
			+e.lower-txt
				p
					| Даже, если у&nbsp;Вас возник какой-то особенный или трудный вопрос!
					|
					br
					| В&nbsp;этом случае обязательно заказывайте консультацию. Это&nbsp;&mdash; совершенно бесплатно!
					br
					| Мы&nbsp;сможем квалифицированно ответить на&nbsp;любой Ваш вопрос о&nbsp;тренинге и&nbsp;найти пути решения даже для личных ситуаций!
				p
					| Если у&nbsp;Вас возникли сложности с&nbsp;оплатой, мы&nbsp;можем подобрать для Вас вариант рассрочки.
					|
					br
					| Условия рассрочки согласовываются и&nbsp;подбираются индивидуально, свяжитесь с&nbsp;менеджером Инфо-ДВД, чтобы обсудить возможные варианты оплаты участия.
				p Чтобы заказать звонок специалиста Инфо-ДВД, введите свои данные в&nbsp;форму ниже. Наши менеджеры&nbsp;в самый короткий срок перезвонят Вам по&nbsp;указанному номеру телефона.
			+form-cont()
				+e.form-txt
					| Чтобы заказать звонок специалиста Инфо-ДВД, введите свои данные в&nbsp;форму ниже.
					p Наши менеджеры в самый короткий срок перезвонят Вам по указанному номеру телефона.
			+e.policy.text-center
				| Заполняя форму Вы соглашаетесь с условиями
				|
				a(href="#") пользовательского соглашения
	// end sQuestions

mixin questionItem(imgNum)
	+e.question-col.col-sm-4
		+e.col-img
			img.lazy(src='#' data-src=`img/sQuestions-${imgNum}.svg` alt="")
		+e.col-txt
			block