mixin sGoldenLevel()
	// start sGoldenLevel
	+b.SECTION.sGoldenLevel.section#sGoldenLevel&attributes(attributes)
		+e.section-bg
			img.lazy(src='#' data-src="img/@2x/gold-lvl-bg.png" alt="")
		.container
			+e.row.row
				.col-lg-5.d-none.d-lg-block
					+e.shield-img
						img.lazy(src="#" data-src="img/shield.svg" alt="")
				.col-lg-7
					+b.section-title
						+e.small-shield-img.d-lg-none
							img.lazy(src="#" data-src="img/shield.svg" alt="")
						h2
							span Золотой уровень
							|
							| доверия от Инфо-ДВД
					+e.txt
						p Издательство Инфо-ДВД в&nbsp;лице основателя Издательства Анатолия Белоусова, директора Издательства Никиты Королева и&nbsp;инфоменеджера Издательства Дениса Абросимова присваивает онлайн-тренингу Павла Крёза &laquo;Спекуляции дешевыми акциями на&nbsp;ОТС&raquo; &laquo;Золотой уровень доверия&raquo;.
						p #[strong &laquo;Золотым уровнем доверия&raquo;] помечаются &laquo;классические&raquo; обучающие курсы/программы издательства Инфо-ДВД. &laquo;Золотая метка&raquo; означает, что тема данного курса не&nbsp;вызывает этических нареканий со&nbsp;стороны большинства членов редколлегии Инфо-ДВД, а&nbsp;вероятность положительного результата от&nbsp;обучения/применения данных знаний, методик, программ (при неукоснительном соблюдении всех инструкций автора) находится в&nbsp;районе&nbsp;80%.
	// end sGoldenLevel