// start .sRiskReward
.sRiskReward {


	--sPB: #{rem(30)};
	--sPT: #{rem(40)};

	--sTPB: #{rem(30)};
	@include media-breakpoint-up(lg){
		--sPT: #{rem(54px)};
		--sPB: #{rem(53)};

		--sTPB: #{rem(31px)};
	}

	.section-title{
		max-width: 894px;
		margin: 0 auto;

		h4{
			line-height: (38/30);
			font-weight: bold;
			margin-bottom: rem(25);
		}
		p{
			color: rgba($body-color, .7);
			font-size: rem(20);
		}
		p:last-child{
			margin-bottom: 0;
		}
	}

	&__row{

		@include media-breakpoint-up(xl){
			@include roww(40px);
		}

		padding-bottom: rem(20);
		@include media-breakpoint-up(lg){
			padding-bottom: rem(82);
		}
	}
	&__col{

		@include media-breakpoint-down(lg){
			margin-bottom: 30px;
		}

		//pp paddings
		@include media-breakpoint-up(xl){
			&:nth-child(1){
				.sRiskReward__content{
					padding-right: rem(42);
				}
			}
			&:nth-child(2){
				.sRiskReward__content{
					padding-right: rem(10);
				}
			}
			&:nth-child(3){
				.sRiskReward__content{
					padding-right: rem(42);
				}
			}
			&:nth-child(4){
				.sRiskReward__content{
					padding-right: rem(28);
				}
			}
		}

		//level
		@include media-breakpoint-up(lg){
			&:nth-child(2n){
				margin-top: rem(42);

				.sRiskReward__content{
					height: 100%;
				}
			}
		}
	}
	&__item{
		position: relative;
		@include media-breakpoint-up(sm){
			padding-top: 106.53%;
		}
		@include media-breakpoint-up(lg){
			padding-top: 150%;
		}
		@include media-breakpoint-up(xl){
			padding-top: 106.53%;
		}
	}
	&__item-bg{
		position: absolute;
		z-index: 0;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		img{
			width: 100%;
			height: 100%;

			@include media-breakpoint-up(sm){
				object-fit: cover;
			}
			@include media-breakpoint-up(lg){
				object-fit: unset;
			}
			@include media-breakpoint-up(xl){
				object-fit: cover;
			}
		}
	}
	&__content{
		border: 1px solid $primary;
		border-radius: rem(20);
		@include media-breakpoint-up(sm){
			border: none;
			border-radius: 20px;

			position: absolute;
			z-index: 1;
			left: 1px;
			top: 1px;
			width: calc(100% - 2px);
			max-height: calc(100% - 2px);
			height: 100%;
		}
		@include media-breakpoint-up(xl){
			height: auto;
		}

		background-color: $white;


		padding: rem(20);
		@include media-breakpoint-up(xxl){
			padding: rem(26px) rem(10) rem(32) rem(27);
		}

		box-shadow: 0 rem(40) rem(60) rem(-50) rgba(0, 0, 0, 0.38);
		@include media-breakpoint-up(lg){
			box-shadow: 0px 94px 63px -51px rgba(0, 0, 0, 0.38);
		}

		&:before{
			content: '';
			display: block;

			width: rem(40px);
			height: rem(40px);
			margin-bottom: rem(15);
			@include media-breakpoint-up(xl){
				width: rem(50px);
				height: rem(50px);
			}
			@include media-breakpoint-up(xxl){
				width: rem(58px);
				height: rem(58px);
				margin-bottom: rem(21);
			}


			border-radius: 50%;
			border: 1px solid $primary;

			background-image: url(../img/checked.svg);
			background-repeat: no-repeat;
			background-position: center;

			@include media-breakpoint-down(xxl){
				background-size: rem(20) rem(28);
			}
		}

		p{
			font-size: rem(16px);
			line-height: (20/16);
		}
		p:last-child{
			margin-bottom: 0;
		}
	}

	//convince-txt
	&__convince-txt{
		border: 1px solid $border-color;
		border-radius: rem(20px);
		padding: rem(21);
		text-align: center;

		font-weight: bold;
		font-size: rem(20px);

		max-width: 1040px;
		margin: 0 auto;
	}
	&__{}
	&__{}
	&__{}


	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}

} // end.sRiskReward