mixin sRiskReward()
	// start sRiskReward
	+b.SECTION.sRiskReward.section#sRiskReward&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sRiskReward
				
			.row
	// end sRiskReward